<!DOCTYPE html>
<html lang="en">
<head>

<title>Simple Sentiment Analysis</title>
<style>

body{
    text-align: center;
}
h1{
    font-family: 'Comic Sans MS', cursive;
    font-weight: normal;
    color: #00008B;
    font-size: 2.5em;
}

qs{
    font-family: 'Comic Sans MS', cursive;
}

h2{
    font-family: 'Comic Sans MS', cursive;
}

h5{
    font-family: 'Comic Sans MS', cursive;
}

input[type="text"]
{
    font-size:24px;
}

happylevel{
    font-family: 'Comic Sans MS', cursive;
    font-weight: normal;
    color: #FF4500;
    font-size: 8.5em;
}
</style>

</head>
<body>
{% block body %}{% endblock %}
</body>
</html>